@import "styles/constant";
@import "styles/mixins/breakpoint";
@import "styles/mixins/image";

.criteria-popup{
    background-color: #fff;
    border: 2px solid #eee;
    position: absolute;
    display: none;
    z-index: 101;
    border-bottom: 1px solid #eee;
    overflow: hidden;
    top: $headerHeight + 56;
    margin: 0 $sidebarWidth;
    width: calc(100% - 400px);
        
    @include breakpoint(portrait-tablet) {
        top: $headerHeight;
    }
    
    &.visible {
        display: block;
    }
    
    &.hidden {
        display: none;
    }   
    
    .criterion {
        height: 32px;
        line-height: 32px;
        font-size: 15px;
        background-size: 16px 16px;
        background-position: 8px 9px;
        padding: 0 10px 0 32px;
        margin: 8px 8px 0 0;
        
        &:hover{
            @include background-image("criteria/checked@2x.png"); 
        }
    
        &.selected:hover{
            @include background-image("criteria/remove@2x.png"); 
            background-color: #D5D5D5 !important;
        }
    }
}

.criteria-content{
    max-height: 472px;
    overflow-y: auto;
    min-height: 160px;
}

.criterion-list {
    text-align: left;
    padding: 16px 16px 16px 16px;
    
    &:after {
        content: "";
        display: block;
        clear: both;
    }
}

.criterion-list__header {
    font-size: 14px;
    font-family: LatoRegular;
    color: #9B9B9B;
}

.criteria-list-footer {
        height: 112px;
    text-align: center;
    padding: 32px 0;
}

.criteria-list-apply {
    width: auto;
    display: inline-block;
    margin: 0 auto;
    padding: 0 48px;
    background-color: #f8f8f8;
    color: #4a4a4a;
    height: 48px;
    line-height: 48px;
    outline: 0;
    cursor: pointer;
    text-align: center;
    border-radius: 4px;
    font-size: 16px;
}