@import "styles/mixins/transform";
@import "styles/mixins/breakpoint";



.popup-criteria {
    .popup-window {
        max-width: 784px;
        max-height: 640px;
        width: calc(100% - 32px);
        border-radius: 4px;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
             
    }
    
    .close {
        display: none;
    }
}
