@import "styles/constant";
@import "styles/mixins/transform";
@import "styles/mixins/breakpoint";
@import "styles/mixins/text-overflow";
@import "styles/mixins/image";

.article{
    width: 100%;
    max-width: 1312px;
    margin: 0 auto;
    padding: 40px 32px 96px;
}

.article-top {
    padding: 0 48px 40px 8px;
}

.article-logo {
    display: block;
    float: left;
    max-width: 234px;
    
    img {
       display: block; 
    }
}

.article-txt {
    font-size: 32px;
    font-family: "LatoMedium";
    font-weight: 500;
    
}
.article-txt > img{
    display: block;
    width: 100%;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    margin-bottom: 48px;
}
.article-txt > p, blockquote, .article-txt > blockquote{
    color: #4a4a4a;
    margin: 32px 0;
    line-height: 1.5;
    max-width: 1136px;
}
.article-txt > h2 {
    margin-bottom: 16px;
    max-width: 1136px;
}
.article-txt > p b {
    font-size: 40px;
    font-weight: bold;
    line-height: 1.2;
    color: #000000;
}

@media only screen and (max-width: 1375px){
    .article-txt > p {
        font-size: 28px;
        line-height: 1.43;
        max-width: 800px;
    }
    .article-txt > p b {
        font-size: 24px;
        line-height: 1.33;
    }
}


@media only screen and (max-width: 1000px){
    .article-txt > p,.article-txt > p b {
        font-size: 18px;
        line-height: 1.33;
    }
    .article-txt > p{
        margin: 24px 0;
    }
    .article-txt > h2{
        font-size: 24px;
        line-height: 1.2;
    }
}

@media only screen and (max-width: 760px){
    .article {
        padding: 12px;
        -webkit-border-radius: 16px;
        -moz-border-radius: 16px;
        border-radius: 16px;
    }
    .article-logo {
        max-width: 160px;
        margin-top: 5px;
    }.article-top .grey-btn {
        display: none;
    }
    .article-txt > img {
        margin-bottom: 16px;
    }
}


p:empty {
    margin: 0;
    padding: 0
}


.article-txt {
    
    blockquote {
        background: #f9f9f9;
        border-left: 10px solid #ccc;
        margin: 1.5em 10px;
        padding: 0.5em 10px;
        quotes: "\201C""\201D""\2018""\2019";
    }
    
    blockquote:before {
        color: #ccc;
        content: open-quote;
        font-size: 4em;
        line-height: 0.1em;
        margin-right: 0.25em;
        vertical-align: -0.4em;
    }
    
    blockquote p {
        display: inline;
    }
    
    ul {
        margin: 32px 0;
        padding-left: 64px;
    }
    
    li {
        line-height: 1.5;
        color: #4a4a4a;
        list-style: disc;
    }
}

