@import "styles/constant";
@import "styles/mixins/text-overflow";
@import "styles/mixins/image";

.bar12{
    height: 12px; 
  
    .criterion-bar__score {
        line-height: 12px;
        font-size: 10px;
    }
}

.bar24{
  height: 24px;  
  
    .criterion-bar__score {
        line-height: 12px;
        font-size: 10px;
    }
}

.bar32{
    height: 32px; 
  
    .criterion-bar__score {
        line-height: 32px;
        font-size: 14px;
    }
}

.criterion-bar {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color: #e5e5e5;
    margin-top: 8px;
    position: relative;
}

.criterion-bar__progress {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.criterion-bar__score {
    font-size: 10px;
    font-weight: bold;
    text-align: right;
    color: #000000;
    position: absolute;
    right: 4px;
    z-index: 1;
}