.post-wrapper {
    display: block;
    background: #fff;
    width: 100vw;
    height: 100vh;
    overflow-y: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 8888;
}

.post{
    margin: auto;
    padding: 25px;
    font-size: 18px;
    max-width: 1024px;
    position: absolute;
    left: 0;
    right: 0;
}

.post-header {
    border-bottom: 1px solid #eee;
    padding: 8px 0;
    margin-bottom: 32px;
}
.post-btn {
    padding: 0 16px;
    background-color: #eee;
    display: inline-block;
    height: 42px;
    line-height: 42px;
    border-radius: 4px;
    cursor: pointer;
    color: #000;
    margin: 0 8px;
}

.post {
   
    p, li, blockquote, .paragraph {
        font-size: 24px;
        font-family: LatoMedium;  
        color: #4A4A4A;
        line-height: 40px;
    }
    
    p, ul, blockquote, .paragraph {
        margin-bottom: 32px;
    }
    
    ul, blockquote {
        margin-left: 32px;   
    }
  
    p:empty {
       margin-bottom: 0; 
    }
    
    h2 {
        font-family: LatoBold;  
        font-size: 32px;
    }
    
    h3 {
        font-family: LatoBold;  
        font-size: 28px;
    }
    
    blockquote {
        background: #f9f9f9;
        border-left: 10px solid #ccc;
        padding: 0.5em 10px;
        
        quotes: "\201C""\201D""\2018""\2019";
    }
    
    blockquote:before {
        color: #ccc;
        content: open-quote;
        font-size: 4em;
        line-height: 0.1em;
        margin-right: 0.25em;
        vertical-align: -0.4em;
    }
    
    blockquote p {
        display: inline;
    }
    
    
}

.post-title {
    border: 0;
    font-size: 48px;
    font-family: LatoBold;
    width: 100%;
    outline: 0;
    margin-bottom: 16px;
}

.post-title:empty:before {
    content: attr(placeholder);
    display: block;
    color: #888;
    font-family: LatoRegular;
}

.post-close {
    position: fixed;
    top: 16px;
    right: 16px;
    width: 24px;
    height: 24px;
    background-image: url(http://whatsbetter.me/v3n/img/icons/close-round.svg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    cursor: pointer;
        
    &:hover {
       opacity: .8; 
    }
}
    