@import "styles/mixins/variables";
@import "styles/mixins/text-overflow";
@import "styles/mixins/animation";
@import "styles/mixins/image";

.bar_criterion {
    margin: 16px 0 32px 0;
    cursor: pointer;

    &::before {
          position: absolute;
          content: attr(data-label);
          left: 8px;
          top: 0;
          line-height: $barHeigth;
          height: $barHeigth;
          width: calc(100% - 50px);
          text-align: left;
          z-index: 12;
          text-transform: lowercase;
          @include  text-overflow;
    }

    &::after {
        position: absolute;
        content: attr(data-value);
        right: 6px;
        top: 0;
        line-height: $barHeigth;
        height: $barHeigth;
        width: 50px;
        text-align: right;
        color: #000;
        @include  text-overflow;
    }

    .start-label::after {
        content: "-5.0"
    }

    .center {
          width: 8px;
          height: $barHeigth;
          @include background-image("img/bar-center.png");
          background-repeat: no-repeat;
          background-size: 100% 100%;
          left: 50%;
          margin-left: -4px;
    }

    .center::after {
        content: "0";
        left: -4px;
    }

    .end-label::after {
        right: -10px;
        content: "5.0";
    }

    .comment {
        display: none
    }

    .slider {
        display: none;
        width: 24px;
        height: 16px;
        border-radius: 18px;
        background-color: #ffffff;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
        position: absolute;
        left: 50%;
        margin-left: -12px;
        top: 4px;
        cursor: pointer;
        z-index: 24;
 

        &:before {
            content: "";
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 3px 4px 3px 0;
            border-color: transparent #9b9b9b transparent transparent;
            position: absolute;
            right: 50%;
            top: 50%;
            margin-top: -3px;
            margin-right: 2px;
        }

        &:after {
            content: "";
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 3px 0 3px 4px;
            border-color: transparent transparent transparent #9b9b9b;
            position: absolute;
            left: 50%;
            top: 50%;
            margin-top: -3px;
            margin-left: 2px;
        }
    }
}
    
.bar_criterion[data-score="0.0"] {
    .value {
        box-shadow: inset 0 $barHeigth 1px 1px #bdbdbd;
    }
}

.bar_editable {
    .slider {
        display: none
    }
}

.bar_editable[data-score="0.0"] {
    .slider {
        display: block;
    }
}

.bar_editable[data-score="0.0"]:hover {
    .value {
        box-shadow: none ;
    }
}

.bar_editable:hover {
    .slider {
        display: block;
    }
}

.bar_editable {
    .slider:focus,.slider:active, .slider.active {
        display: block;
    }
}

.bar_editable:hover:before {
    opacity: .6
}

.bar_editable:hover  {
    .slider {
        @include animation("barhower .1s forwards")
    }
}

.bar_editable:hover {
    .slider:before {
         @include animation("bar-hower-before .1s forwards")
    }
}

.bar_editable:hover {
    .slider:after {
        @include animation("bar-hower-after .1s forwards") 
    }
}

.bar_editable {
    .slider:hover {
        @include animation("slider-hower .1s forwards");

        &:before {
            @include animation("slider-hower-before .1s forwards")
        }

        &:after{
            @include animation("slider-hower-after .1s forwards")
        }
    }
}

@include keyframes(barhower) {
    to {
        padding: 0;
        width: 16px;
        height: 16px;
        margin-left: -8px;
    }
}

@include keyframes(bar-hower-before) {
    to  {
        margin-right: 1px;
        color: #000;
        border-color: transparent #000 transparent transparent;
    }
}
  
@include keyframes(bar-hower-after) {  
    to {
        margin-left: 1px;
        border-color: transparent transparent transparent #000;
    }
}

@include keyframes(slider-hower) {
    to {
        border-radius: 50%;
        transform: scale(1, 1.5);
    }
}

@include keyframes(slider-hower-before) {
    to {
        border-color: transparent #000 transparent transparent;
        transform: scale(1.5, 1);
        }
}

@include keyframes(slider-hower-after) {
    to {
        border-color: transparent transparent transparent #000;
        transform: scale(1.5, 1);
    }
}