@import "styles/mixins/breakpoint";

.card {
    background-color: #fff;
    margin-bottom: 16px;
    position: relative;
    padding: 8px;
    border-radius: 6px;
    overflow: hidden;
    
    &:after {
        content: "";
        display: block;
        clear: both;
    }
    
    @include breakpoint(portrait-tablet) {
        padding: 16px 32px 16px 80px;
    }
}

.card-left {
    width: 100%;
    display: block;
    float: left;
    text-align: center;

    @include breakpoint(portrait-tablet) {
        width: 44.2%;
        display: inline-block;
        padding-right: 16px;
    }
}

.card-right {
    width: 100%;
    display: block;
    float: right;
    padding: 16px 0px 0 0px;
    
    @include breakpoint(portrait-tablet) {
        width: 55.8%;
        display: inline-block;
        padding: 0;
    }
}

.card-header {
    display: table;
    width: 100%;
    padding: 0 0 8px 42px;
    min-height: 32px;
    
    @include breakpoint(portrait-tablet) {
        padding: 0;
        width: 55.7%;
        display: inline-table;
    }
}

.card-header__title {
    display: table-cell;
    vertical-align: middle;
    font-size: 18px;
    font-family: LatoBold;
    color: #000000;
}

.card-header__opinions {
    display: table-cell;
    vertical-align: middle;
    min-width: 84px;
}


.card-image {
    width: 50%;
    overflow: hidden;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto 90%;
    border-radius: 6px;
    background-color: #fff;
    border: 1px solid #eee;
    padding: 5% 0;
    display: inline-block;
    
    img {
        max-width: 90%;
    }
    
    @include breakpoint(portrait-tablet) {
        width: 100%;
    }

}