@import "styles/constant";
@import "styles/mixins/breakpoint";
@import "styles/mixins/text-overflow";

.header-user {
    display: table;
    float: right;
    width: 232px;
    height: 64px;
    border-radius: 4px;
    padding: 4px;
    margin: 7px 4px 12px 7px;
    cursor: pointer;
    
    .table-cell:first-child {
        width: 32px;
    }
}

.header-avatar {
    float: left;
    display: inline-block;
    height: 48px;
    width: 48px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-color: #f5f5f5;
    background-size: 100%; 
}

.header-username {
    line-height: 16px;
    font-size: 18px;
    font-family: LatoBold;
    color: #4A4A4A;
    padding-left: 8px;
    max-width: 168px;
    @include text-overflow;
}

.header-usercarma {
    line-height: 16px;
    font-size: 16px;
    font-family: LatoMedium;
    color: #9B9B9B;
    padding-left: 8px;
    padding-top: 6px;
    max-width: 168px;
    @include text-overflow;
}