@import "styles/constant";
@import "styles/mixins/image";

.header-nav {
    display: inline-block;
    float: left;
    padding-top: 12px;
}

.header-nav__item {
    display: inline-block;
    height: 32px;
    padding: 0 16px;
    background-color: #eee;
    margin: 0 8px;
    border-radius: 4px;
    text-align: center;
    line-height: 32px;
    color: #000;
    font-size: 14px;
    font-family: LatoBold;
    
   
    
    &:hover {
       background-color: #f5f5f5; 
       color: #444;
    }
    
     &.active {
        color: #888;
        background-color: #eee;
    }
}