@import "styles/constant";
@import "styles/mixins/text-overflow";
@import "styles/mixins/image";

.criterion {
    color: #000;
    background-color: #F8F8F8;
    @include  background-image("criteria/hole.png");
    background-repeat: no-repeat;
    border-radius: 5px;
    display: inline-block;
    outline: none;
    cursor: pointer;
    float: left;
    text-transform: lowercase;
    font-family: LatoBold;
    @include  text-overflow;

    &:hover{
        @include background-image("criteria/checked.png");
    }
    
    &.selected {
        @include background-image("criteria/checked.png");
    }
    
    &.selected:hover{
        @include background-image("criteria/remove.png");
        background-color: #D5D5D5 !important;
    }
}

.criterion24 {
    height: 24px;
    line-height: 24px;
    font-size: 13px;
    background-size: 12px 12px;
    background-position: 6px 6px;
    padding: 0 10px 0 24px;
    margin: 4px 8px 0 0;
}

.criterion32 {
    height: 32px;
    line-height: 32px;
    font-size: 15px;
    background-size: 16px 16px;
    background-position: 8px 9px;
    padding: 0 10px 0 32px;
    margin: 8px 8px 0 0;
}

.criterion-more {
    width: 24px;
    height: 24px;
    border-radius: 4px;
    display: inline-block;
    float: left;
    cursor: pointer;
    line-height: 20px;
    color: #9B9B9B;
    text-align: center;
    background-color: #f8f8f8;
    margin: 4px 8px 0px 0;
}