.post-prewiew-row {
    padding: 8px 0 0 0;
    margin-bottom: 36px;
    border-radius: 8px;
    overflow: hidden;
    cursor: pointer;
}

.ppr-images {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    overflow: hidden;
}

.ppr__image {
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 528px;
}

.ppr__title {
    font-family: LatoBold;
    font-size: 40px;
    color: inherit;
    line-height: 48px;
    text-decoration: none;
}

.ppr__date {
    font-family: LatoBold;
    font-size: 10px;
    color: inherit;
    line-height: 12px;
    margin-top: 16px;
}

.ppr__preamble {
    font-family: LatoMedium;
    font-size: 22px;
    color: inherit;
    line-height: 32px;
    margin-top: 8px;
}

.ppr-content {
    background-color: #fff;
    text-align: left;
    color: #fff;
    text-decoration: none;
    padding: 32px;
    border-radius: 8px;
}

.ppr-content-with-img {
    color: #000;
    border-radius: 0;
    
   .ppr__date {
        color: #ccc;  
   }
}