.posts-item {
    padding: 8px 0 0 0;
    margin-bottom: 36px;
    border-radius: 8px;
    overflow: hidden;
}

.posts-item-content {
    background-color: #fff;
    border-radius: 8px;
    text-align: left;
    text-decoration: none;
    cursor: pointer;
    padding: 32px;
    
    &:hover {
       color: #000;
       text-decoration: none;
    }
}

.posts-item__title {
    font-family: LatoBold;
    font-size: 40px;
    color: #fff;
    line-height: 48px;
    text-decoration: none;
}

.posts-item__date {
    font-family: LatoBold;
    font-size: 10px;
    color: #fff;
    line-height: 12px;
    margin-top: 16px;
}

.posts-item__preamble {
    font-family: LatoMedium;
    font-size: 22px;
    color: #fff;
    line-height: 32px;
    margin-top: 8px;
}