@import "styles/constant";
@import "styles/mixins/breakpoint";
@import "styles/mixins/text-overflow";

.header-user {
    display: table;
    float: left;
    width: 184px;
    height: 42px;
    border-radius: 4px;
    border: 1px solid #eee;
    padding: 4px;
    margin: 7px 4px 12px 7px;
    cursor: pointer;
    
    .table-cell:first-child {
        width: 32px;
    }
}

.header-avatar {
    float: left;
    display: inline-block;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-color: #f5f5f5;
    background-size: 100%; 
}

.header-username {
    line-height: 16px;
    font-size: 12px;
    font-family: LatoMedium;
    color: #4A4A4A;
    max-width: 132px;
    @include text-overflow;
}

.header-usercarma {
    line-height: 16px;
    font-size: 12px;
    font-family: LatoRegular;
    color: #9B9B9B;
    max-width: 132px;
    @include text-overflow;
}