@import "styles/mixins/breakpoint";

.score-full {
    background-color: #F8F8F8;
    border-radius: 16px;
    padding: 32px;
    max-width: 960px;
}

.sfe {
    background-color: #fff;
    width: 100%;
    padding: 16px;
    max-width: 686px;
    border-radius: 8px;
    
    &:after {
        content: "";
        display: block;
        clear: both;
    }
}

.sfc {
    max-width: 686px;
    width: 100%;
}

.sfe__label {
    font-size: 32px;
    padding-bottom: 16px;
    font-family: LatoBold;
    padding-left: 24px;
    float: left;
}

.sfe__img {
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
    width: 128px;
    height: 128px;
    border-radius: 4px;
    float: left;
        
}