@import "styles/mixins/breakpoint";
@import "styles/mixins/prefixes";

.popup {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: rgba(0,0,0, .5);
    z-index: 9999;
}

.popup-window {
    max-width: 830px;
    border: 0;
    outline: 0;
    background-color: #fff;
    left: 0;
    right: 0;
    margin: auto;
    display: block;
    position: absolute;
    overflow: hidden;
    
    @include breakpoint(portrait-tablet) {
        @include border-radius(8px);
    }
}


.popup-close {
    position: absolute;
    top: 16px;
    right: 16px;
    width: 24px;
    height: 24px;
    background-image: url(http://whatsbetter.me/v3n/img/icons/close-round.svg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    cursor: pointer;
}